
body
{
	background:#fff;
	text-align:justify;
	padding-left:30px;
	max-width:1600px
	/*
	margin:20px auto;
	margin-left:120px;
        max-width: 1500px;
        max-width: 1500px;
        min-width: 700px;
	*/
	margin: 0 auto;
}

p { margin-bottom:2em; max-width:70ex; }

li { max-width:65ex; }

.fulljustify { text-align: justify; }
.fulljustify:after { content: ""; display: inline-block; width: 100%; }

.friends a { none }
.friends span.name { color: black; font-weight: bold; }
.friends span.place { color: gray; }

/*
.topic-list { background:#ffffff; width:1000px;}
.topic-list .topic { background:#ffffff; overflow:hidden; margin-bottom:0px; max-width:600px; margin-right:60px; }
.topic-list .topic img { float:left; width:192px; height:192px; margin-right:20px; margin-bottom:40px; }
.topic-list .topic h4 { background:#fff; margin-top:0px; margin-bottom:0px; }
*/

/*
.topic-list .topic { background:#aaaaaa; display:inline-block;}
.topic-list .topic img { width:192px; }
.topic-list .topic h4 { background:#ff0000; margin-top:0px; margin-bottom:0px; width:468px;}
*/

.article-abstract { font-size:small; }
.article-ref { font-size:small; }
.article-ref .title { margin-top:1.6em; font-style:oblique; color:#007700;}
.article-ref .authors { color:#000000;}
.article-ref .reference { color:gray;}
.article-ref .links { font-size:x-small; }

h4 { margin-top:0px; margin-bottom:0px; }

/*
.dual-topic { background:#faf; padding-left:350px; margin-bottom:40px; }
.dual-topic:before, .dual-topic:after { content:""; display:table; }
.dual-topic:after { clear:both; }
.dual-topic .figure { background:red; position:relative; float:left; width:350px; right:350px; margin-left:-100%; }
.dual-topic .description { background:yellow; position:relative; float:left; width:100%; }
.dual-topic h4 { margin-top:0px; margin-bottom:0px; }
*/

.tcontainer-list { display:inline-block; max-width:1490px;}
.tcontainer { display:inline-block; min-width:400px;max-width:700px; margin-bottom:20px; margin-right:20px; vertical-align:top; background:#fff; border-radius:4px; padding-top:20px; padding-bottom:20px; padding-left:20px; }
.tcontainer .illustration { position:relative;float:left;width:360px;margin-right:-360px; min-height:220px; text-align:right;}
.tcontainer .description { position:relative;float:left;margin-left:360px; padding-left:20px; padding-right:20px; }
.tcontainer:before, .tcontainer:after { content:""; display:table;  }
.tcontainer:after { clear:both; }

.topic-list { display:inline-block; max-width:1490px; }
.topic { display:inline-block; min-width:400px;max-width:700px; margin-bottom:20px; margin-right:20px; vertical-align:top; background:#fff; border-radius:4px; padding-top:20px; padding-bottom:20px; padding-left:20px; }
.topic .illustration { position:relative;float:left;margin-right:-192px; background:white; }
.topic .description { position:relative;float:left;margin-left:192px; padding-left:20px; padding-right:20px; }
.topic:before, .topic:after { content:""; display:table;  }
.topic:after { clear:both; }

body { font-family:sans-serif; }

.section { background: #ccc; padding-left:20px; padding-top:0px; padding-right:20px; margin-bottom:40px; border-radius:4px; position:relative; right:20px;}
#sec-code { background: #cdb; }
.section h2 { padding-top:20px; }
.section {           box-shadow:       0px 0px 4px 0px rgba(0,0,0,0.75); }
.tcontainer,.topic { box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75); }
figure { display: block; margin-top: 0em; margin-bottom: 0em; margin-left: 0px; margin-right: 0px; }
